/* GERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ececec;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* TOPO */
.topo {
    width: 100%;
    height: 60px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.btn-sair {
    position: absolute;
    right: 20px;
    background: red;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

/* MENU LATERAL */
.menu-lateral {
    width: 230px;
    background: #0d0d0d;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral button {
    background: #1a1a1a;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
}

.menu-lateral button:hover {
    background: #272727;
}

/* ÁREA PRINCIPAL */
.conteudo {
    flex: 1;
    padding: 90px 40px;
    overflow-y: auto;
}

/* SEÇÕES */
.secao {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* CARDS DO DASHBOARD */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

/* USUÁRIOS */
.container-usuarios {
    display: flex;
    gap: 40px;
}

.box {
    background: white;
    padding: 25px;
    width: 45%;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #999;
}

.box input[type="date"] {
    padding: 12px;
}

.btn {
    padding: 12px;
    background: black;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}
