body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TOPO */
.topo {
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.titulo-bancada {
    margin: 0;
}

.btn-sair {
    position: absolute;
    right: 20px;
    background: red;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* MENU */
.menu {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.menu button {
    padding: 12px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* DASHBOARD */
.dashboard {
    width: 95%;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 módulos lado a lado */
    gap: 50px;               /* mais espaço entre os módulos */
    margin-top: 40px;
    padding: 20px;
}

/* CARDS */
.card {
    background: gray;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    text-align: center;
    min-height: 550px;       /* ainda mais alto */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card img {
    width: 100%;
    max-width: 220px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
    color: whitesmoke;

}

h3{
    color:whitesmoke;
    

}