/* index.css */

/* GERAL */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LOGO */
.logo {
    width: 230px;
    height: auto;
    display: block;
    margin-bottom: 50px;  /* distância da logo pro login */
}

/* CAIXA DE LOGIN */
.container {
    background: whitesmoke;
    border: 2px solid #ffd200;
    padding: 35px;
    width: 340px;
    border-radius: 6px;
    box-shadow: 0 0 14px rgba(0,0,0,0.25);
    text-align: center;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

/* BOTÃO */
button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

/* BOTÃO HOVER */
button:hover {
    background: #005fcc;
}
